@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner {
  border: 3px solid transparent; /* Прозрачный бордер */
  border-top: 3px solid #3498db; /* Верхний градиентный цвет */
  border-radius: 50%; /* Круг */
  animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Начальное положение */
  }
  to {
    transform: rotate(360deg); /* Конечное положение */
  }
}
